<footer>
    <section>
        <span>&copy;Todos los Derechos Reservados 2023 PW</span>
    </section>
    <ul>
        {{#each socialNetworks}}
        <li><a href="{{url}}">{{name}}</a></li>
        {{/each}}
    </ul>
</footer>