<header>
    <input type="checkbox" id="hamburger-input">
    <label class="hamburger" for="hamburger-input">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <section>Titulo de la Empresa</section>
    <nav>
        <ul>
            <li><a href="%BASE_URL%index.html">Home</a></li>
            <li><a href="%BASE_URL%servicios.html">Servicios</a></li>
            <li><a href="%BASE_URL%about.html">Acerca</a></li>
            <li><a href="%BASE_URL%contacts/contact.html">Contactanos</a></li>
        </ul>
    </nav>
</header>