<section class="services">
    {{#each servicios}}
    <div class="service-item">
        <img src="{{url}}" alt="{{title}}">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
    </div>
    {{/each}}
</section>